
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Cormorant:wght@600&family=Oswald:wght@300&family=Roboto&family=Source+Sans+Pro&family=Ubuntu:wght@300&display=swap');body



{
    color: gold;
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    background: black ;

    transition: 2.9s;
    top: 0%;
    
}
html
{

    top: 0%;
    scroll-behavior: smooth;
    transition: 0.9s;
}


/* ***************************************************************************** */
/* 
#land::before {
    content: "";
    position: absolute;
    height: 642px;
    background: linear-gradient(to right,  black 100%,#414141 -10%);
    background: radial-gradient(circle at 24.1% 68.8%, rgb(20, 20, 20) 0%, rgb(0, 0, 0) 99.4%);
  
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    height: 800%;
}
 */


#navbar
{
    display: flex;
    margin: 0px 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.35);

    /* justify-content: space-between; */
}

#home
{
    margin: 0px 0px 0px 300px;
    font-family: 'Arvo', serif;

}

#list
{
    display: flex;
    margin-left: 400px;
    font-family: 'Oswald', sans-serif;


}

.item
{
    margin: 0px 25px;
    padding: 10px;
    /* border: 2px solid red; */
    list-style: none;
    text-decoration: none;
}

.item a
{
    padding: 10px;
    /* border: 2px solid red; */
    text-decoration: none;
    color: white;
    font-size: 25px;

}




/* ********************************************************************8 */


#intro
{
    display: flex;
    /* background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%); */
    margin: 0px 190px;
}

#pic
{
    margin-bottom: 0%;
    z-index: -1;

}
#pic img
{
    height: 500px;
    /* margin: -100px; */
    z-index: -1;
    border-radius: 100%;
    -webkit-filter: drop-shadow( 0px 5px 15px rgba(0, 0, 0, 0.35));
    /* box-shadow: ; */
        /* filter: drop-shadow(5px 5px 5px #666666); */
}


#info
{
    margin-left: 250px;
}



/* Social */

a, a:hover {
	text-decoration: none;
}
#social
{
    margin-top: 20px;
    margin-left: -560px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: gold;
	background-color: transparent;
	border: 1px solid gold;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
    color: #ffffff;
	background-color: gold;
	border: 1px solid gold;
    transition: 0.4s;

}


/* About */

#about
{
    display: flex;
    margin: 0px 100px 300px 200px;
}

#about-info
{
    width: 50%;
}
#about-info h2
{
    color: #ffffff;
    margin: 130px 0px 0px 0px;
    font-size: 30px;
}

#about-info p
{
    color: #ffffff;
    margin: 40px 0px;
    font-size: 20px;
}


#photo2
{
    margin-left: 100px;
    height: 580px;
    /* width: 400px; */
    margin-top: 130px;
    border: 12px solid;
}

#photo2 img
{
    /* width: 400px; */
    height: 580px;
    margin-right: -50;
}

/* Classes */

a
{
    z-index: 100;
    text-decoration: none;
    color: gold;
    cursor: pointer;
}
.auto-type{color:gold}

.pri
{
    color: white;
    font-size: 60px;
    margin: 10px 0px;
    font-family: 'Cormorant', serif;

}
.sec
{
    font-size: 40px;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;

}
.tri
{   
    margin: 20px 30px 1px 0px;
    font-size: 20px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

.ct_abt
{
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: 20px;
    margin: 25px 0px;
}

.ct_abt span
{
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    width: 100px;
}

button {
    background-color: gold; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 22px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

button:hover
{
    background-color: white; /* Green */
    border: none;
    color: gold;
    font-weight: bolder;

}  

/*  */


/* 
.navbar
{
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 45px;
    position: sticky;
}

a{text-decoration: none;
color: #000;}

:root {
    --navbar-height: 59px;
}


#logo {
    margin: -5px 30px;
}

#logo img {
    height: 65px;
    margin: 15px 10px;
}

.navbar::before {
    color: black;
    content: "";
    background-color: white;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
  
}




.navbar ul {
    display: flex;
    
    
    font-family: 'Bree Serif', serif;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    margin: 10px;
    padding-bottom: 5px;
}
.navbar ul li:hover {
    
    padding-bottom: 5px;
    box-shadow: 0px 5px rgb(0, 183, 255);
    
    
}


.home{
    box-shadow: 0px 5px red;
    list-style: none;
    font-size: 1.3rem;
    margin: 10px;
    padding-bottom: 5px;
}

.navbar ul li a {
    color: black;
    padding: 4px 30px;
    border: 1px solid rgba(255, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    text-decoration: none;
    margin: 3px;
}

.navbar ul li a:hover {
    color: rgb(0, 183, 255);
   
}



.dropbtn {
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
    
    background-color: white;
    padding: 9px;

    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    margin-top: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      color: rgb(0, 156, 218);
    background-color: rgba(199, 199, 199, 0.1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: rgb(0, 156, 218);
  } */